
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 64px;

    height: 64px;

    padding: 0 $kku-layout-large-padding;

    border-bottom: 1px solid #eee;

    .header__logo {

        .header__logo__link {
            font-size: 32px;
            font-weight: bold;
        }
    }

    .header__navigation {
        .header__navigation__list {
            @include flex-center;
            flex-direction: row;
            gap: 40px;

            .header__navigation__list__item {
                .header__navigation__list__item__link {
                    font-size: 18px;
                    padding: 8px 12px;
                }
            }
        }
    }
}


@media screen and (max-width: $kku-layout-medium) {
    .header {
        height: 56px;
        padding: 0 $kku-layout-medium-padding;

        .header__logo {

            .header__logo__link {
                font-size: 28px;
            }
        }

        .header__navigation {
            .header__navigation__list {
                gap: 32px;

                .header__navigation__list__item {
                    .header__navigation__list__item__link {
                        padding: 4px 8px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $kku-layout-small) {
    .header {
        height: 48px;
        padding: 0 $kku-layout-small-padding;

        .header__logo {

            .header__logo__link {
                font-size: 24px;
            }
        }

        .header__navigation {
            .header__navigation__list {
                gap: 8px;

                .header__navigation__list__item {
                    .header__navigation__list__item__link {
                        padding: 4px 8px;
                    }
                }
            }
        }
    }
}

