@import 'fonts.scss';
@import 'reset.scss';
@import 'variables';
@import 'animation.scss';
@import 'mixins.scss';

body {
    font-family: $kku-default-font-family;
    font-weight: 300;
    color: $kku-white-color;
    background: $kku-background-color;
}
