

// region [Layout]

$kku-layout-large: 1200px;
$kku-layout-medium: 768px;
$kku-layout-small: 464px;

$kku-layout-large-padding: 24px;
$kku-layout-medium-padding: 16px;
$kku-layout-small-padding: 8px;

// endregion


