

// region [Layout]

$kku-layout-large: 1200px;
$kku-layout-medium: 768px;
$kku-layout-small: 464px;

$kku-layout-large-padding: 24px;
$kku-layout-medium-padding: 16px;
$kku-layout-small-padding: 8px;

// endregion



// region [Typography]

$kku-default-font-family: 'Pretendard', ui-sans-serif, system-ui, -apple-system,
'Segoe UI', Roboto, 'Helvetica Neue', Arial,
'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
'Segoe UI Symbol', 'Noto Color Emoji';

// endregion


// region [Color]

$kku-black-color: #111111;
$kku-white-color: #ffffff;


// endregion
