
.archive__layout {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: $kku-layout-large-padding;


    .archive__layout__sidebar {
        display: flex;
        flex-direction: column;
        gap: 16px;

        max-width: 240px;
        width: 100%;
    }

    .archive__layout__content {
        width: 100%;
    }
}
