
.footer {
    display: flex;
    flex: 0 0 40px;
    justify-content: flex-end;
    align-items: center;

    padding: 0 $kku-layout-large-padding;

    border-top: 1px solid #eee;

    .footer__text {
        font-size: 14px;
    }
}


@media screen and (max-width: $kku-layout-medium) {
    .footer {
        padding: 0 $kku-layout-medium-padding;
    }
}

@media screen and (max-width: $kku-layout-small) {
    .footer {
        flex: 0 0 32px;

        padding: 0 $kku-layout-small-padding;
    }
}

